* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  background-color: #a6f241;
  border-image-source: linear-gradient(to right, #f3ff24, #aab545);
  border-image-width: 10px;
  border-image-slice: 10;
  padding: 8%;
}
